<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sockets</title>
</head>

<body>
    <div style="float: left; margin-right: 16px;">
        <canvas id="canvas" width="640" height="480" style="width: 640px; height: 480px; border: 1px dashed #000;"></canvas>
        <div>
            <a href="javascript:WebSocketStart()">Start</a>
            <a href="javascript:WebSocketStop()">Stop</a>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>